@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn {
  background: linear-gradient(
    92.23deg,
    #1d1d1f 11.43%,
    #8e8e8f 50.63%,
    #c7c7c7 100%,
    #ffffff 117.04%
  );
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #ffffff 11.43%,
    #c7c7c7 50.63%,
    #8e8e8f 100%,
    #1d1d1f 117.04%
  );
  color: #1d1d1f;
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #1d1d1f 11.43%,
    #8e8e8f 50.63%,
    #c7c7c7 100%,
    #ffffff 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#1d1d1f] to-[#ffffff] font-bold font-secondary hover:from-[#ffffff] hover:to-[#1d1d1f];
  }
  .section {
    @apply py-9 lg:py-24 lg:h-screen flex items-center;
  }
}
